.card{
    background-color:aqua !important;
    width: 180px;
    height: 100px;
    margin-top:12px;
    border-radius: 20px !important;
    flex-direction: row !important;
}

.card-img-top{
    width:100px !important;
    height: 100px;
}

.pokeName{
    font-size: 10px !important;
    color: white
}

.badge{
    font-weight: 200 !important;
    font-size:10px !important;
    margin: 1px;
    
}