.basicCard{
    
    width: 181px !important;
    height: 145px;
    margin: 3px;
    margin-top: 7px !important;
    border-radius: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
   
}
.card{
    z-index: 1;
}
.card-body{
    margin:auto;
    padding:0% ;
}

.card-body-basic{
    padding: 0px !important;
}

.pokeball{
    height:100px;
    width:100px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    
    margin-top: 27px;
}

.basicCardDetails{
    display: flex;
    flex-direction: row !important;

}

.card-img-top-basic{
    
    width:100px !important;
    height: 100px;
}

.pokeName{
    font-size: 20px !important;
    font-family: 'Paytone One', sans-serif;
    color: white;
    margin: auto;
}

.badge{
    font-weight: 200 !important;
    font-size:15px !important;
    font-family: 'Open Sans', sans-serif;
    margin: 1px;
    padding: -0.45em 0.75em !important;
    
}

.bg-dark{
    --bs-bg-opacity:0.1 !important;
    
}


h1{
    font-family: 'Paytone One', sans-serif;
}


/* Classes for pokemon card background color*/
.green{
    background-color: #08D9A2 !important;
}

.red{
    background-color: #ED5A5A!important;
}

.blue{
    background-color: #5CADED !important;
}

.yellow{
    background-color: #F7D314 !important;
}

.black{
    background-color: black !important;
}

.brown{
    background-color: #914E30 !important;
}

.purple{
    background-color: #D291BC !important;
}

.gray{
    background-color: gray !important;
}

.white{
    background-color: #D2D8BB !important;
}

.pink{
    background-color: pink !important;
}

.search-box{
    width:90% !important;
    margin:auto;
}



