.ash{
    height: 394px;
    width: 263px !important;
}

.squirrel{
    height: 308px;
    width: 263px;
}

.tittles{
    text-align: center;
    margin-top: 3% !important;
    font-family: 'Paytone One', sans-serif;
}

.text-format{
    font-family: 'Paytone One', sans-serif;
}